<!-- angular directives ngIf

<div *ngIf="players.length>0">Player List</div>
<div *ngIf="players.length==0">No Player List</div>

angular directives ngFor -->

<!-- <div>
  <li *ngFor="let i of players">{{i}}</li>
</div>
<div>
  <p>{{message}}</p>
</div>

Two way data binding
<div>
  <input [(ngModel)]="inputValue" placeholder="type now">
  <p>You typed:{{inputValue}}</p>
</div> -->

<!-- <div>
<input type="checkbox">
<input [(ngModel)]="">
</div> -->



<h1>Todo list</h1>
<ul style="list-style: none;">
<li *ngFor="let item of todolist">
  <input type="checkbox"[(ngModel)]="item.completed">{{item.task}}
  <div *ngIf="item.completed">This task is done!!<br><br>
  <span *ngIf="item.task==='BreakFast'">Venue1:{{item.venue1}}<br><br>
      Venue2:{{item.venue2}}</span>
      <span *ngIf="item.task==='Lunch'">Venue1:{{item.venue1}}<br><br>
        Venue2:{{item.venue2}}</span>
  <span *ngIf="item.task==='Dinner'">Venue1:{{item.venue1}}<br><br>
    Venue2:{{item.venue2}}</span>
  </div>
</li>
</ul>